@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GlobalGrub!</h1>
    <p>Tuesday in class ASP.NET Core project for COMP2084 at <a href="https://georgiancollege.ca" target="_blank">Georgian College</a></p>
    <p>Royalty-free images from <a href="https://pixabay.com" target="_blank">Pixabay</a></p>
    <p>Logo made at <a href="https://logomakr.com/" target="_blank">Logomkr</a></p>
</div>
